
.Discover{
    text-align: start;
    /* padding-left: 24px;  */
}
.Discover > h4{
    padding-left: 50px;
    margin-bottom: 1.3vh;
}
.discover{
    /* width: 1000px; */
    display: flex;
    padding-left:24px;
    gap: 20px;
    text-align: start;
   overflow-x: scroll;
 
}

.discover::-webkit-scrollbar {
    height:0; /* Hide the horizontal scrollbar */
    width: 0;
     /* Hide the vertical scrollbar */
  }
.element{   
    width: 201px;
    padding: 10px;
    height: 281px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.element > h4{
    margin:auto;
   margin-top: 10px;
}
.element > p{
    margin: auto;
    margin-top: -5px;
    margin-bottom: 12px;
    font-size: 11px;
}
.element img{
    width:200px;
    height: 140px;
    border-radius: 16px;
    
}

.element > div {
    display: flex;
    gap:5px
}
.element > div > p{
    background-color: #FBDEB5;
    font-size: 12px;
    font-weight: 500;
    padding: 0.7vh;
    border-radius: 3px;
}
.element > div{
    margin-top:-9px;
}

a{
    color: #fc8b00;
    font-size: 15px;
    text-decoration: none;
}